//#include <dt-bindings/zmk/mouse.h>

#include <behaviors/rgbled_widget.dtsi>
#include <behaviors/naginata.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define MOUSE    1
#define LOWER    2
#define RAISE    3
#define ADJUST   4
#define SCROLL   2

// スクロール量の設定

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };
};

/ {
    behaviors {
        // スクロール用のbehaviorの設定

        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>; // スクロールのタップ時間
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LALT LANG2>, <&mo 3>, <&mo 1>;
        };

        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt RCTL LANG1>, <&mo 3>, <&mo 1>;
        };

        // Customed Hold-Tap for SandS

        SandS: SandS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <500>;
            quick-tap-ms = <500>;
            bindings = <&kp>, <&kp>;

            display-name = "SandS";
        };
    };
};

&sl { release-after-ms = <250>; }; // time needed for double click (for mkp_exit_AML)
/ {
    macros {
        // When in AML, move to default layer when key (except mouse button) pressed
        // When LCLK pressed, exit AML (after 250ms cause by sticky layer

        Hankaku_enter: Hankaku_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F10 &kp ENTER>;
            label = "HANKAKU_ENTER";
        };

        pin: pin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_NUMBER_0 &kp KP_NUMBER_8 &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_2 &kp KP_NUMBER_7>;
            label = "PIN";
        };

        map_RM: map_RM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(R) &kp LS(M)>;
            label = "MAP_RM";
        };

        DE_lyrick_paste: DE_lyrick_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(TAB) &kp LS(TAB) &kp LS(TAB) &kp LS(TAB) &kp LS(TAB) &kp LS(TAB) &kp LS(TAB) &kp LC(V) &kp LC(HOME)>;
            label = "DE_LYRICK_PASTE";
        };

        DE_lyric_kiritori: DE_lyric_kiritori {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(END)) &kp LC(X)>;
            label = "DE_LYRIC_KIRITORI";
        };

        DE_split: DE_split {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp RCLK &kp L>;
            label = "DE_SPLIT";
        };

        DE_Kuuhaku: DE_Kuuhaku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp LEFT_BRACKET &kp SPACE &kp SEMI &kp SPACE &kp SPACE &kp SPACE &kp RIGHT_BRACKET &kp LANGUAGE_1>;
            label = "DE_KUUHAKU";
        };

        DE_enctab: DE_enctab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F8 &kp TAB &kp TAB &kp END>;
            label = "DE_ENCTAB";
        };

        DE_zenkaku_space: DE_zenkaku_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp SPACE>;
            label = "DE_ZENKAKU_SPACE";
        };

        DE_rubikakko: DE_rubikakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE &kp RIGHT_BRACKET &kp F10 &kp ENTER>;
            label = "DE_RUBIKAKKO";
        };

        remote: remote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LG(PAUSE_BREAK)>,
                <&macro_wait_time 150>,
                <&kp TAB>,
                <&macro_wait_time 150>,
                <&kp LG(INS) &kp ENTER>;

            label = "REMOTE";
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp LS(LG(S))  &kp F1            &kp F2  &kp F3        &kp F4       &kp F5                                   &kp KP_N7     &kp KP_N8  &kp KP_N9   &kp KP_DIVIDE                       &kp F6                 &kp F7  &kp F8    &kp F9    &kp F10    &kp F12
&kp ESCAPE     &kp Q             &kp W   &kp E         &kp R        &kp T                                    &kp KP_N4     &kp KP_N5  &kp KP_N6   &kp KP_MULTIPLY                     &kp Y                  &kp U   &kp I     &kp O     &kp P      &kp MINUS
&kp LEFT_ALT   &kp A             &kp S   &kp D         &kp F        &kp G        &mt LS(LG(S)) UNDERSCORE    &kp KP_N1     &kp KP_N2  &kp KP_N3   &kp KP_MINUS       &kp COMMA        &kp H                  &kp J   &kp K     &kp L     &kp COLON  &lt 2 SLASH
&kp LSHFT      &mt LEFT_SHIFT Z  &kp X   &kp C         &kp V        &kp B        &kp AT_SIGN                 &kp KP_ENTER  &kp KP_N0  &kp KP_DOT  &kp KP_PLUS        &kp PERIOD       &kp N                  &kp M   &kp LEFT  &mkp MB1  &mkp MB2   &kp RIGHT
&kp RCTRL      &kp C_MUTE                &kp LEFT_ALT  &lt 2 SPACE  &lt 3 SPACE  &lt 7 TAB                                                                           &lt 4 RIGHT_WIN  &mt RIGHT_SHIFT ENTER                                         &kp BACKSPACE
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp LS(LG(S))   &none             &kp F1  &kp F2        &kp F3     &kp F4                                     &trans  &trans  &trans  &trans                &kp F5          &kp F6  &kp F7    &kp F8    &kp F10    &kp F12
&kp ESCAPE      &kp Q             &kp W   &kp E         &kp R      &kp T                                      &trans  &trans  &trans  &trans                &kp Y           &kp U   &kp I     &kp O     &kp P      &kp MINUS
&kp LEFT_ALT    &kp A             &kp S   &kp D         &kp F      &kp G          &mt LS(LG(S)) UNDERSCORE    &trans  &trans  &trans  &trans    &kp COMMA   &kp H           &kp J   &kp K     &kp L     &kp COLON  &kp SLASH
&kp LEFT_SHIFT  &mt LEFT_SHIFT Z  &kp X   &kp C         &kp V      &kp B          &kp AT_SIGN                 &trans  &trans  &trans  &trans    &kp PERIOD  &kp N           &kp M   &kp LEFT  &mkp MB1  &mkp MB2   &kp RIGHT
&kp LCTRL       &trans                    &kp LEFT_WIN  &kp SPACE  &kp LS(SPACE)  &kp TAB                                                       &trans      &Hankaku_enter                                         &kp BACKSPACE
            >;
        };

        number_layer {
            display-name = "Number";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans  &none      &none            &none   &none      &none                     &trans  &trans  &trans  &trans              &none           &none         &none         &none         &none         &none
&trans  &none      &none            &none   &none      &none                     &trans  &trans  &trans  &trans              &kp PERIOD      &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0
&trans  &none      &kp LS(LA(F12))  &none   &kp LS(F)  &none   &kp UNDERSCORE    &trans  &trans  &trans  &trans    &kp LPAR  &kp COLON       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5
&trans  &none      &none            &none   &none      &none   &kp AT_SIGN       &trans  &trans  &trans  &trans    &kp RPAR  &kp MINUS       &none         &mkp MB1      &mkp MB2      &kp FSLH      &kp BSLH
&trans  &kp RSHFT                   &trans  &trans     &trans  &trans                                              &trans    &Hankaku_enter                                                          &kp BSPC
            >;
        };

        edit_layer {
            display-name = "edit";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = <
&trans      &none  &none               &none             &none        &none                     &trans  &trans  &trans  &trans               &none            &none     &none       &none               &none         &none
&kp ESCAPE  &none  &DE_lyric_kiritori  &DE_split         &DE_Kuuhaku  &none                     &trans  &trans  &trans  &trans               &kp F6           &kp F7    &DE_enctab  &none               &none         &kp HOME
&trans      &none  &kp LC(S)           &DE_lyrick_paste  &none        &none   &kp UNDERSCORE    &trans  &trans  &trans  &trans    &kp PG_UP  &kp HOME         &mkp MB5  &none       &kp LS(LEFT_ARROW)  &kp UP_ARROW  &kp LS(RIGHT)
&trans      &none  &kp LC(X)           &kp LC(C)         &none        &none   &kp AT_SIGN       &trans  &trans  &trans  &trans    &kp PG_DN  &kp END          &mkp MB4  &none       &kp LEFT_ARROW      &kp DOWN      &kp RIGHT
&pin        &none                      &trans            &trans       &trans  &trans                                              &trans     &mt LANG2 LANG1                                                          &kp DEL
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4            &trans  &trans  &trans  &trans              &bt BT_CLR_ALL  &none  &none  &none  &none  &none
&trans  &none         &none          &none          &none          &none                   &trans  &trans  &trans  &trans              &bt BT_CLR      &none  &none  &none  &none  &none
&trans  &none         &none          &none          &none          &none         &none     &trans  &trans  &trans  &trans    &ind_bat  &out OUT_TOG    &none  &none  &none  &none  &none
&trans  &none         &kp LC(LA(A))  &kp LC(LA(B))  &kp LC(LA(C))  &none         &none     &trans  &trans  &trans  &trans    &ind_con  &studio_unlock  &none  &none  &none  &none  &none
&trans  &kp C_MUTE                   &trans         &trans         &trans        &trans                                      &trans    &kp DEL                                     &studio_unlock
            >;
        };

        // Extra layer can be added in ZMK STUDIO

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        symbol_layer {
            bindings = <
&trans  &trans     &trans        &trans     &trans          &trans                             &trans  &trans  &trans  &trans                   &trans            &trans           &trans                &trans                 &trans        &trans
&trans  &trans     &kp EQUAL     &kp PLUS   &kp GRAVE       &none                              &trans  &trans  &trans  &trans                   &trans            &kp SQT          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none         &trans
&trans  &kp PIPE   &kp ASTERISK  &kp MINUS  &kp SEMI        &kp COLON        &kp UNDERSCORE    &trans  &trans  &trans  &trans    &kp LESS_THAN  &kp GREATER_THAN  &kp DOLLAR       &kp PERCENT           &kp AMPERSAND          &kp BSLH      &trans
&trans  &kp CARET  &kp TILDE     &kp SLASH  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp AT_SIGN       &none   &none   &none   &none     &kp LBKT       &kp RBKT          &kp EXCLAMATION  &kp DOUBLE_QUOTES     &kp HASH               &kp QUESTION  &trans
&trans  &trans                   &trans     &trans          &trans           &trans                                              &trans         &Hankaku_enter                                                                                &trans
            >;
        };
    };
};
